article.container {
    max-width: 860px;
    margin: 0 auto;
    display: block;

    section.description {
        margin: 48px 0;
    }

    section.controller {
        display: flex;
        justify-content: space-between;
        align-items: center;

        flex-wrap: wrap;

        margin: -12px;

        div.inputs {
            margin: 12px;
        }

        div.buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            margin: -12px;

            > * {
                margin: 0 12px;
            }
        }
    }

    section.board {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        margin: 24px 0;

        div.boardToSolve {
            flex: 1 0 0;

            margin-right: 12px;
        }

        div.solvedBoard {
            flex: 1 0 0;

            margin-left: 12px;
        }
    }
}

@media (prefers-color-scheme: dark) {
    article.container {
        section.controller {
        }
    }
}
